<template>
  <q-page padding>
    <day-select></day-select>
    <mq-layout mq="xl+">
      <div class="days">
        <q-card
          v-for="day in $store.getters['availability/dailyAvailability']"
          :key="day.id"
          inline
        >
          <q-card-title>{{ day.date.format('DD.MM.YY') }}</q-card-title>
          <hour-select :day="day"></hour-select>
        </q-card>
      </div>
    </mq-layout>
    <mq-layout :mq="['xs', 'sm', 'md', 'lg']">
      <q-card>
        <hour-select
          :day="$store.getters['availability/dailyAvailability'][0]"></hour-select>
      </q-card>
    </mq-layout>
  </q-page>
</template>

<style lang="styl" scoped>
.days
  display: flex
  justify-content: center

.q-card
  padding: 10px
  box-sizing: border-box
  margin: 6px
</style>

<script>
import HourSelect from '../components/hour-select.vue'
import DaySelect from '../components/day-select.vue'

export default {
  name: 'Availability',
  components: {
    DaySelect,
    HourSelect
  },
  data () {
    return {
      days: 7,
      snap: {
        min: 0,
        max: 8
      }
    }
  },
  mounted () {
    const WEEKLY_VIEW = 7
    const SINGLE_VIEW = 1
    if (this.$mq === 'xl') {
      this.$store.commit('availability/setDaysCount', WEEKLY_VIEW)
      this.$store.dispatch('availability/getDaysList')
        .then(() => this.$store.dispatch('availability/getDailyAvailability'))
    } else {
      this.$store.commit('availability/setDaysCount', SINGLE_VIEW)
      this.$store.dispatch('availability/getDaysList')
        .then(() => this.$store.dispatch('availability/getDailyAvailability'))
    }
  },
  computed: {
    optimalSize: function () {
      return this.$mq === 'md' || this.$mq === 'lg'
    }
  }
}
</script>
