<template>
  <q-page class="flex flex-center">
    <day-select :buttons="false"></day-select>
    <div class="days">
      <q-card
        v-for="day in $store.getters['availability/dailyAvailability']"
        :key="day.id"
        inline
      >
        <hour-list :day="day"></hour-list>
      </q-card>
    </div>
  </q-page>
</template>

<style lang="styl" scoped>
.days
  display: flex
  justify-content: center
  width: 100%

.q-card
  padding: 10px
  box-sizing: border-box
  margin: 6px
  width: 100%
</style>

<script>
import DaySelect from '../components/day-select.vue'
import HourList from '../components/hour-list.vue'

export default {
  name: 'Calendar',
  mounted () {
    const WEEKLY_VIEW = 7
    const MEDIUM_VIEW = 4
    const SINGLE_VIEW = 1
    console.log(this.$mq)
    if (this.$mq === 'xl') {
      this.$store.commit('availability/setDaysCount', WEEKLY_VIEW)
    } else if (this.$mq === 'xl') {
      this.$store.commit('availability/setDaysCount', MEDIUM_VIEW)
    } else {
      this.$store.commit('availability/setDaysCount', SINGLE_VIEW)
    }
    this.$store.dispatch('availability/getCaptainView')
  },
  components: {
    DaySelect,
    HourList
  }
}
</script>
