<template>
  <q-page class="login-page">
    <q-input v-model="username" float-label="Username"></q-input>
    <q-input v-model="password" type="password" float-label="Password"></q-input>
    <q-btn @click="loginUser"
      :loading="loggingIn"
      class="login-button"
      color="primary"
      icon="mdi-login-variant">
        Login
    </q-btn>
  </q-page>
</template>

<style scoped lang="styl">
.login-button
  width: 90%
  margin-left: 5%
  margin-right: 5%

.login-page
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  padding-top: 20px
  > *
    margin-top: 10px
    min-width: 90%
</style>

<script>
export default {
  name: 'LoginPage',
  data () {
    return {
      username: '',
      password: '',
      loggingIn: false
    }
  },
  methods: {
    loginUser: function () {
      this.loggingIn = true
      const payload = {
        username: this.username,
        password: this.password
      }
      this.$store.dispatch('availability/loginUser', payload)
        .then(() => {
          this.$q.localStorage.set('authToken',
            this.$store.getters['availability/getToken'])
          this.$q.localStorage.set('userID',
            this.$store.getters['availability/getUserID'])
          this.$q.localStorage.set('username',
            this.$store.getters['availability/getUserInfo'].username)
          this.$store.dispatch('availability/getDailyAvailability')
            .then(() => {
              this.loggingIn = false
              this.$router.push('/availability')
            })
        }, error => {
          this.loggingIn = false
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Can not login user. Network or password problem?',
            icon: 'report_problem'
          })
          console.error(error)
        })
    }
  }
}
</script>
