<template>
  <q-page padding class="settings">
    <q-input v-model="userInfo.first_name"
      float-label="What's your first name?"
      :before="[{ icon: 'mdi-account' }]"
    ></q-input>
    <q-input v-model="userInfo.last_name"
      float-label="What's your last name?"
      :before="[{ icon: 'mdi-account' }]"
    ></q-input>
    <q-input v-model="userInfo.kit_number" type="number"
      float-label="What's your kit number?"
      :before="[{ icon: 'mdi-format-list-numbers' }]"
    ></q-input>
    <q-select v-model="userInfo.position"
      float-label="Where do you play?"
      :before="[{ icon: 'mdi-soccer-field' }]"
      :options="$store.getters['availability/positionsAvailable']"
    ></q-select>
    <q-select v-model="userInfo.team"
      float-label="Which one is your team?"
      :before="[{ icon: 'mdi-soccer-field' }]"
      :options="$store.getters['availability/teamsAvailable']"
    ></q-select>
    <q-input v-model="userInfo.email" type="email"
      float-label="What's your email address?"
      :before="[{ icon: 'mdi-email' }]"
    ></q-input>
    <q-btn @click="saveSettings" color="primary" class="margin-bottom">
      Save your information
    </q-btn>
    <q-input v-model="passwords.current_password" type="password"
      float-label="Provide your previous password"
    ></q-input>
    <q-input v-model="passwords.new_password" type="password"
      float-label="Provide your new password"
    ></q-input>
    <q-btn @click="changePassword" color="secondary" class="margin-bottom">
      Change password
    </q-btn>
  </q-page>
</template>

<style lang="styl" scoped>
.settings
  display: flex
  flex-direction: column
  > *
    margin-top: 10px
    margin-bottom: 10px
  > .margin-bottom
    margin-bottom: 75px
</style>

<script>
import { forIn, join } from 'lodash'

export default {
  name: 'Settings',
  data () {
    return {
      userInfo: {
        first_name: '',
        last_name: '',
        email: '',
        kit_number: 0,
        position: '',
        team: '',
        username: ''
      },
      passwords: {
        current_password: '',
        new_password: ''
      }
    }
  },
  mounted () {
    this.userInfo = this.$store.getters['availability/getUserInfo']
    this.$store.dispatch('availability/getTeamsAvailable')
    this.$store.dispatch('availability/getPositionsAvailable')
  },
  methods: {
    saveSettings: function () {
      this.$store.dispatch('availability/changeUserInfo', this.userInfo)
    },
    changePassword: function () {
      this.$store.dispatch('availability/changePassword', this.passwords)
        .then(() => {
          this.$q.notify({
            color: 'positive',
            icon: 'mdi-check-circle',
            position: 'top',
            message: 'Password successfully changed!'
          })
          this.passwords.current_password = ''
          this.passwords.new_password = ''
        })
        .catch(error => {
          let message = ''
          forIn(error, (value, key) => {
            if (key === 'current_password') {
              message += 'Current password: \n'
            } else {
              message += 'New password: \n'
            }
            message += join(value, '\n')
            message += '\n'
          })
          this.$q.notify({
            color: 'negative',
            icon: 'mdi-close-circle',
            position: 'top',
            message
          })
        })
    }
  }
}
</script>
