<template>
  <div class="day-select">
    <div class="date">
      <mq-layout mq="sm+">
        <q-btn
          class="left arrow"
          icon="mdi-arrow-left"
          :label="getPreviousDate"
          @click="moveOneDay(false)"
        >
        </q-btn>
      </mq-layout>
      <mq-layout mq="xs">
        <q-btn
          class="left arrow"
          icon="mdi-arrow-left"
          @click="moveOneDay(false)"
        >
        </q-btn>
      </mq-layout>
      <q-datetime
        type="date"
        modal
        align="center"
        class="datetime"
        :value="getDate"
        @change="commitDate"
      ></q-datetime>
      <mq-layout mq="sm+">
        <q-btn
          class="right arrow"
          icon="mdi-arrow-right"
          :label="getNextDate"
          @click="moveOneDay(true)"
        >
          <q-chip v-if="getPriorityDaysLeft && buttons" floating color="negative">
            {{ getPriorityDaysLeft }}
          </q-chip>
          <q-chip v-else-if="getDaysLeft && buttons" floating color="warning">
            {{ getDaysLeft }}
          </q-chip>
        </q-btn>
      </mq-layout>
      <mq-layout mq="xs">
        <q-btn
          class="right arrow"
          icon="mdi-arrow-right"
          @click="moveOneDay(true)"
        >
          <q-chip v-if="getPriorityDaysLeft && buttons" floating color="negative">
            {{ getPriorityDaysLeft }}
          </q-chip>
          <q-chip v-else-if="getDaysLeft && buttons" floating color="warning">
            {{ getDaysLeft }}
          </q-chip>
        </q-btn>
      </mq-layout>
    </div>
    <div class="buttons" v-if="buttons">
      <q-btn
        label="Submit Availability"
        color="primary"
        @click="submitDay"
        :loading="submitting">
      </q-btn>
    </div>
  </div>
</template>

<style lang="styl" scoped>
.day-select
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%

.date
  display: flex
  justify-content: space-between
  margin-bottom: 20px
  width: 100%
  > .datetime
    flex-grow: 3
    margin-left: 12px
    margin-right: 12px

.buttons
  margin-bottom: 10px
</style>

<script>
import moment from 'moment'

export default {
  name: 'DaySelect',
  props: {
    buttons: {
      default: true
    }
  },
  data () {
    return {
      submitting: false
    }
  },
  methods: {
    commitDate: function (payload) {
      this.$store.commit('availability/updateDate', payload)
      this.$store.dispatch('availability/getDaysList')
        .then(() => this.$store.dispatch('availability/getDailyAvailability'))
    },
    moveOneDay: function (right) {
      const currentDate = this.$store.getters['availability/getDate']
      if (right) {
        currentDate.add(1, 'd')
      } else {
        currentDate.subtract(1, 'd')
      }
      this.$store.commit('availability/updateDate', currentDate.valueOf())
      this.$store.dispatch('availability/getDaysList')
        .then(() => {
          if (this.$route.path === '/availability') {
            this.$store.dispatch('availability/getDailyAvailability')
          } else if (this.$route.path === '/calendar') {
            this.$store.dispatch('availability/getCaptainView')
          }
        })
    },
    submitDay: function () {
      this.submitting = true
      this.$store.dispatch('availability/submitDays', this.getFormattedDate)
        .then(() => {
          this.$store.dispatch('availability/getDailyAvailability')
        })
        .then(() => {
          this.submitting = false
        })
    }
  },
  computed: {
    getDate: function () {
      return this.$store.getters['availability/getDateFormatted']
    },
    getDaysLeft: function () {
      const endDate = moment().add(
        this.$store.getters['availability/getTeamSettings'].days_ahead, 'd')
      const diff = endDate.diff(moment(this.$store.getters['availability/getDate']).hours(0).minutes(0),
        'days')
      return diff > 0 ? diff : null
    },
    getPriorityDaysLeft: function () {
      const endDate = moment().add(
        this.$store.getters['availability/getTeamSettings'].priority_days_ahead, 'd')
      const diff = endDate.diff(moment(this.$store.getters['availability/getDate']).hours(0).minutes(0),
        'days')
      return diff > 0 ? diff : null
    },
    getPreviousDate: function () {
      return moment(this.$store.getters['availability/getDate'])
        .subtract(1, 'd').format('DD.MM')
    },
    getNextDate: function () {
      return moment(this.$store.getters['availability/getDate'])
        .add(1, 'd').format('DD.MM')
    }
  }
}
</script>
