<template>
  <div class="hour-list" v-if="day">
    <q-list v-for="hour in day.hourList" :key="hour.time">
      <q-collapsible :label="hour.time" :sublabel="hourStats(hour.people)">
        <ul>
          <li v-if="player.available" :key="player.player" v-for="player in hour.people">
            {{ player.player }}
          </li>
          <li v-if="!player.available" :key="player.player" v-for="player in hour.people" style="text-decoration: line-through">
            {{ player.player }}
          </li>
        </ul>
      </q-collapsible>
    </q-list>
  </div>
</template>

<style lang="styl" scoped>
.q-list
  border: none

.margin-top
  margin-top: 20px
</style>

<script>
import { forEach } from 'lodash'

export default {
  name: 'HourSelect',
  props: {
    day: {
      default: null
    }
  },
  methods: {
    hourStats: function (people) {
      let comingCount = 0
      let notComingCount = 0
      forEach(people, player => {
        if (player.available) {
          comingCount += 1
        } else {
          notComingCount += 1
        }
      })
      return `✓ ${comingCount} / ✗ ${notComingCount}`
    }
  }
}
</script>
