<template>
  <div class="hour-select" v-if="day">
    <div class="buttons">
      <q-btn label="All" color="positive" @click="toggleAllOn"></q-btn>
      <q-btn label="None" color="warning" @click="toggleAllOff"></q-btn>
      <!--<q-btn :label="'Clone previous ' + getDayName"
        color="info"></q-btn>-->
      <!--<q-btn :label="'Standard ' + getDayName" color="tertiary"></q-btn>-->
       <transition
        enter-active-class="animated flipInX"
        leave-active-class="animated flipOutX"
        appear
      >
        <q-alert type="negative"
          v-if="alertVisible"
          :actions="[{ label: 'Dismiss', handler: () => { alertVisible = false } }]"
          :key="day.due.format('DD.MM')"
          style="margin: 5px"
        >
          Fill to: {{ day.priorityDue.format('DD.MM') }}
        </q-alert>
      </transition>
       <transition
        enter-active-class="animated flipInX"
        leave-active-class="animated flipOutX"
        appear
      >
        <q-alert type="warning"
          v-if="alertVisible"
          :actions="[{ label: 'Dismiss', handler: () => { alertVisible = false } }]"
          :key="day.due.format('DD.MM')"
          style="margin: 5px"
        >
          Thereabout to: {{ day.due.format('DD.MM') }}
        </q-alert>
      </transition>
    </div>
    <div class="toggles">
      <q-list link>
        <q-item v-for="item in day.hourList" tag="label"
          :key="item.time">
          <q-item-main>
            <q-item-tile title>{{ item.time }}</q-item-tile>
            <q-item-tile>
              <q-chip
                v-if="item.event"
                icon="mdi-comment-alert"
                color="negative"
                dense
                square
              >
                KSS - G22
              </q-chip>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
            <q-checkbox
              :value="item.enabled"
              :indeterminate-value="null"
              :color="colorDecide(item)"
              @input="toggleAvailability(item.time, $event)"
              unchecked-icon="mdi-cancel"
              checked-icon="mdi-checkbox-marked-circle"
              indeterminate-icon="mdi-checkbox-blank-circle-outline"
              keep-color
            >
            </q-checkbox>
          </q-item-side>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<style lang="styl" scoped>
.q-list
  border: none
.buttons
  display: flex
  flex-direction: column
  margin-bottom: 10px
  > *
    margin-left: 5px
    margin-right: 5px
    margin-bottom: 5px

.margin-top
  margin-top: 20px
</style>

<script>
import moment from 'moment'

export default {
  name: 'HourSelect',
  props: {
    day: {
      default: null
    }
  },
  data () {
    return {
      alertVisible: true
    }
  },
  mounted () {
    if (this.day && this.day.hourList && this.day.hourList[0].edited) {
      // this.alertVisible = false
    }
  },
  updated () {
    if (this.day && this.day.hourList && this.day.hourList[0].edited) {
      // this.alertVisible = false
    }
  },
  methods: {
    toggleAllOn: function () {
      this.$store.commit('availability/toggleOnDailyAvailability',
        this.getFormattedDate)
    },
    toggleAllOff: function () {
      this.$store.commit('availability/toggleOffDailyAvailability',
        this.getFormattedDate)
    },
    toggleAvailability: function (time, event) {
      this.$store.commit('availability/toggleAvailability',
        {
          date: this.getFormattedDate,
          time,
          value: event
        }
      )
    },
    colorDecide: function (item) {
      let color = 'faded'
      if (!item.edited) {
        color = 'warning'
      } else if (item.enabled) {
        color = 'positive'
      } else if (!item.enabled) {
        color = 'negative'
      }
      return color
    }
  },
  computed: {
    getDayName: function () {
      return moment(this.day.date).format('dddd')
    },
    getFormattedDate: function () {
      return moment(this.day.date).format('YYYY-MM-DD')
    },
    getHeaderDate: function () {
      return moment(this.day.date).format('DD.MM.YYYY')
    }
  }
}
</script>
