<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
      >
        <q-btn
          flat
          dense
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          :hidden="!$store.getters['availability/loggedIn']"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Hippo
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      overlay
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
      <q-list-header>
        {{ this.$store.getters['availability/getTeamSettings'].name }}
      </q-list-header>
        <q-item to="/availability">
          <q-item-side icon="mdi-calendar-edit" />
          <q-item-main label="Availability" sublabel="Let your captain know
            when you're up to it." />
        </q-item>
        <q-item to="/calendar">
          <q-item-side icon="mdi-calendar-search" />
          <q-item-main label="Calendar" sublabel="Check your team schedule." />
        </q-item>
        <q-item to="/settings">
          <q-item-side icon="mdi-settings" />
          <q-item-main label="Settings" sublabel="Personalize Hippo." />
        </q-item>
        <q-item v-on:click.native="logoutUser">
          <q-item-side icon="mdi-logout" />
          <q-item-main label="Log out" sublabel="Switch user!" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LayoutDefault',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    logoutUser: function () {
      this.$store.dispatch('availability/logoutUser')
      this.$q.localStorage.remove('authToken')
      this.$q.localStorage.remove('userID')
      this.$store.commit('availability/saveToken')
      this.$router.push('/')
    }
  },
  mounted () {
    const token = this.$q.localStorage.get.item('authToken')
    const userID = this.$q.localStorage.get.item('userID')
    const username = this.$q.localStorage.get.item('username')
    if (token && token !== 'undefined') {
      this.$store.commit('availability/saveToken', token)
      if (userID && userID !== 'undefined') {
        this.$store.commit('availability/saveUserID', userID)
        this.$store.dispatch('availability/getUserInfo', { username })
        this.$store.dispatch('availability/getTeamSettings')
      }
    }
    if (!this.$store.getters['availability/loggedIn']) {
      this.$router.push('/')
    } else {
      if (this.$route.path === '/') {
        this.$router.push('/availability')
      }
    }
  }
}
</script>

<style lang="styl">
</style>
